# Ignore virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore artifacts
artifacts/

# Ignore large files
mlops1_hotel/rf_model.pkl
*.so

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env

