.venv/
venv/

__pycache__/
artifacts/
mlops1_hotel/*
*.so

logs/
.ipynb_checkpoints/
mlruns/
MLOPS_1_RESERVATION.egg-info

################## Removed cached files ##################
# Uncomment the following lines to remove cached files from the repository
# git rm -r --cached config/__pycache__/

vendor/*